{% extends 'base.html.twig' %}

{% block title %}Hello FeedbackController!{% endblock %}

{% block body %}
<style></style>

<div class="example-wrapper">
    <h1>    Hello {{ controller_name }}! ✅  </h1>
    </br>
    <h2>    List of feedback :  </h2>
    </br>
    <ul>
        {% for feedback in feedbacks %}
        <li><a href="{{ path('EditFeedback', {'id': feedback.id}) }}"> {{ feedback.name }} - {{ feedback.email }} - {{ feedback.score }} - {{ feedback.comment }} </a></li>
        {% if loop.last %}
        </br>
        </br>
        </br>
        <a href="{{ path('EditFeedback', {'id': 0}) }}"> Faire un feedback </a>
        {% endif %}
        {% else %}
        <li>Aucun produit trouvé.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
